*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: inherit;

    &:hover{
        color: red;
    }
}

button{
    cursor: pointer;
}

.container{
    padding: 0 7.5%;
}


.df{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

// main{
//     background-color: white;
// }

button{
    &:hover{
        color: yellow;
    }
}

body{
    background-color: white
}
