.cards{
    padding-bottom: 50px;
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        &__card{
            display: flex;
            flex-direction: column;
            gap: 30px;

            padding-top: 120px;
            padding: 20px;
            background-color: rgba(12, 37, 32, 1);


            h2{
                color: white;
                margin-top: 140px;
            }
            a{
                color: rgba(255, 255, 255, 0.271);
            }
        }
    }

    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        width: 100%;
        padding-top: 20px;


        &__left{
            display: flex;
            background-color: rgba(22, 64, 56, 1);
            padding: 50px;
            width: 65.5%;
            justify-content: space-between;



            &__left{
                padding-right: 10px;

                a{
                    color: rgb(253, 204, 114);
                }
                h2{
                    color: white;
                    margin-bottom: 50px;
                    font-size: 30px;
                }

                p{
                    color: white;
                    margin-bottom: 30px;
                }
                
                width: 64%;
                border-right: 1px solid white;
            }

            &__right{
                h1{
                    color: white;
                    font-size: 60px;
                }
                p{
                    color: white;
                }

                .total{
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: end;
                    margin-bottom: 30px;
                }
            }
        }

        &__right{
            background-color: rgba(12, 37, 32, 1);
            padding: 30px;
            width: 365px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: 320px;
            // align-items: center;
            h2{
                color: white;
            }

            h3{
                color: white;
            }
            p{
                color: white;
            }
        }
    }
}